ipykernel
jupyter
stable-baselines3==2.0.0a5
swig
gymnasium[box2d]
gymnasium
pygame
numpy
huggingface_sb3
huggingface_hub
pickle5
pyyaml==6.0
imageio
imageio-ffmpeg
pyglet==1.5.1
tqdm
panda-gym

git+https://github.com/ntasfi/PyGame-Learning-Environment.git
git+https://github.com/simoninithomas/gym-games